<!-- <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
</head>
    <body>

        <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">_id</th>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="x in details" ng-controller='editdetailCtrl' >
                    <th scope="row">{{x.id}}</th>
                    <td>{{x.firstname}}</td>
                    <td>{{x.lastname}}</td>
                    <td>{{x.email}}</td>
                    <td>{{x.role}}</td>
                    <td>{{x.dob}}</td>
                    <td><button ng-click="editdetails(x.firstname,x.lastname,x.email,x.role,x.dob)">Edit</button></td>
                    <td><button ng-click="deletedetails(x.id)">Delete</button></td>
                  </tr>
                
                </tbody>
              </table>
      </body>
</html> -->


<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function(){
$("#mytable #checkall").click(function () {
        if ($("#mytable #checkall").is(':checked')) {
            $("#mytable input[type=checkbox]").each(function () {
                $(this).prop("checked", true);
            });

        } else {
            $("#mytable input[type=checkbox]").each(function () {
                $(this).prop("checked", false);
            });
        }
    });
    
    $("[data-toggle=tooltip]").tooltip();
});

</script>
<style>
  body{
    background-image: url(grey.jpg);
    background-repeat: no-repeat;
    background-size: 100%
  }
</style>
</head>
<body>
<div class="container">
	<div class="row">
		
        <div class="col-md-12">
        
        <div class="table-responsive">

                
<table id="mytable" class="table table-bordred table-striped">
                   
  <thead>
      <th><input type="checkbox" id="checkall" /></th>
      <th>_ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>DOB</th>
      <th>Edit Action</th>
      <th>Delete Action</th>
  </thead>
    <tbody>
 
    <tr ng-repeat="x in details" ng-controller='editdetailCtrl'>
    <td><input type="checkbox" class="checkthis" /></td>
    <td>{{x.id}}</td>
    <td>{{x.firstname}}</td>
    <td>{{x.lastname}}</td>
    <td>{{x.email}}</td>
    <!-- <td>{{x.password}}</td> -->
    <td>{{x.role}}</td>
    <td>{{x.dob}}</td>
    <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button ng-click="editdetails(x)" class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"  ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button ng-click="deletedetails(x.id)" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"  ><span class="glyphicon glyphicon-trash"></span></button></p></td>
    </tr> 
    </tbody>
        
</table>
 </div>
 </div>
 </div>
 </div>
 </body>
 </html>