<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    </head>
<!-- 
<h1>This is Register page</h1> -->

<style>
body{
    background-image: url(table.jpg);
}
</style>
<body>


<section id='contact' class='msection'>
        <div class='container'>
            <form>
                <fieldset>
                    <div class='form-group'>
                        <label for='uname' class='control-label col-md-4'>UserName</label>
                        <div class='col-md-8'>
                            <input name='uname' id='uname' placeholder="please enter your name" class='form-control' type='text'> </div>
                    </div>
                    <div class='form-group'>
                        <label for='uemail' class='control-label col-md-4'>Email</label>
                        <div class='col-md-8'>
                            <input name='uemail' id='uemail' placeholder="email address" class='form-control' type='email'> </div>
                    </div>
                    <div class='form-group'>
                        <label for='umessage' class='control-label col-md-4'>Message</label>
                        <div class='col-md-8'>
                            <textarea class='form-control' name='umessage' id='umessage'></textarea>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='control-label col-md-4'></label>
                        <div class='col-md-4'>
                            <button ng-click='click' type='submit' class='btn btn-primary'>send message</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
    </body>
    </html>
