<!-- <!DOCTYPE html>
<html lang="en" dir="ltr" >
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

 <body >

 <section id='register' class='msection'>
        <div class='container'>
            <form >
                <fieldset>
                    <div class='form-group'>
                        <label for='firstname' class='control-label col-md-4'>FirstName</label>
                        <div class='col-md-8'>
                            <input ng-model="firstname" id='firstname' placeholder="please enter your first name" class='form-control' type='text'> </div>
                    </div>
                    <div class='form-group'>
                            <label for='lastname' class='control-label col-md-4'>LasttName</label>
                            <div class='col-md-8'>
                                <input ng-model="lastname" id='lastname' placeholder="please enter your last name" class='form-control' type='text'> </div>
                        </div>
                        <div class='form-group'>
                            <label for='dob' class='control-label col-md-4'>Date of birth</label>
                            <div class='col-md-8'>
                                <input ng-model="dob" id='dob' placeholder="please enter your dob" class='form-control' type='text'> </div>
                        </div>
                        <div class='form-group'>
                            <label for='role' class='control-label col-md-4'>Role</label>
                            <div class='col-md-8'>
                                <input ng-model="role" id='role' placeholder="enter your role" class='form-control' type='text'> </div>
                        </div>
                    <div class='form-group'>
                        <label for='email' class='control-label col-md-4'>Email</label>
                        <div class='col-md-8'>
                            <input ng-model="email" id='email' placeholder="email address" class='form-control' type='email'> </div>
                    </div>
                    <div class='form-group'>
                        <label for='password' class='control-label col-md-4'>password</label>
                        <div class='col-md-8'>
                            <input ng-model="password" id='password' placeholder="enter password" class='form-control' type='password'></div>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='control-label col-md-4'></label>
                        <div class='col-md-4'>
                            <button type='submit' class='btn btn-primary' ng-click = "registerdone()">Register</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </section> 
    </body>
</html> -->
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Include the above in your HEAD tag -->
<style>

body {
  background-image: url(bg.jpg);
}
form {
    margin-top:7%;
  margin-left:15%;
  border:black;
  border-style: double;
  border-width: 10px;  
  width: 60%;
  background: #efefef;
  padding: 60px 120px 80px 120px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
 label {
  display: block;
  position: relative;
  /* margin: 10px 0px; */
  
}

.label-txt {
  position: absolute;
  font-family: sans-serif;
  font-size: .8em;
  letter-spacing: 1px;
  color: rgb(120,120,120);
  transition: ease .3s;
} 
.input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
}
.line-box {
  position: relative;
  width: 100%;
  height: 2px;
  background: #BCBCBC;
}

.line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #8BC34A;
  transition: ease .6s;
}
.input:focus + .line-box .line {
  width: 100%;
}

.label-active {
  top: -3em;
}

button {
  margin-top:5%;
  display: inline-block;
  padding: 12px 24px;
  background: rgb(220,220,220);
  font-weight: bold;
  color: rgb(120,120,120);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: ease .3s;
}

button:hover {
  background: #8BC34A;
  color: #ffffff;
} 

</style>
</head>
<body>
        <div class="container">
                <form>
                    <label>
                       Firstname<br> 
                        <input ng-model="editfname" type="text"  class="input">
                        <div class="line-box">
                        <div class="line"></div>
                        </div>
                        </label>
                    <label>
                      Lastname
                        <input ng-model="editlname" type="text"  class="input">
                        <div class="line-box">
                        <div class="line"></div>
                        </div>
                    </label>
                    <label>
                       DOB
                        <input ng-model="editbirth" type="text"  class="input">
                        <div class="line-box">
                        <div class="line"></div>
                        </div>
                    </label> 
                    <label>
                        Role
                        <input ng-model="editroles" type="text"  class="input" disabled>
                        <div class="line-box">
                        <div class="line"></div>
                        </div>
                    </label> 
                  <label>
                    Email
                    <input ng-model="editdata" type="email"  class="input" disabled>
                    <div class="line-box">
                      <div class="line"></div>
                    </div>
                  </label>

                  <label ng-if='flag'>
                    Password
                    <input ng-model="editpass" type="password"  class="input">
                    <div class="line-box">
                      <div class="line"></div>
                    </div>
                  </label>
                  <button type="submit" ng-click="updatedetails()">UPDATE</button>
                </form>
                </div> 
</body>
</html>