<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <style>
      .login{
        font-family: 'Courier New', Courier, monospace;
        font-size: 60px;
        font-weight: bold;
       margin-left: 50%;
       margin-top:5%;
      }

      .butt{
        margin-left: 50%;
        margin-top: 3%;
      }
      .box{
        border: 5px;
        border-color: aqua;
        border-style:double;
      }
    </style>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
  </head>
  <body>
  <section id='login' class='msection'>
    <div class='container box' >
        <div class='login'> LOGIN</div>
        <form >
            <fieldset>
                <div class='form-group'>
                    <label for='email' class=' col-md-4'>Email</label>
                    <div class='col-md-8'>
                        <input ng-model="email" id='email'  class='form-control' placeholder="enter email "type='text'> </div>
                </div>
                <div class='form-group'>
                    <label for='password' class='control-label col-md-4'>password</label>
                    <div class='col-md-8'>
                        <input ng-model="password" id='password' placeholder="enter password" class='form-control' type='password'></div>
                    </div>
                <div class='form-group'>
                    <label class='control-label col-md-4'></label>
                    <div class='col-md-4  butt' >
                        <button type='submit' class='btn btn-danger' ng-click="logindone()">Login</button>
                    </div>
                </div>
              </div>
            </fieldset>
        </form>
</section>  -->



<!-- <section id='login' class='msection'>
    <div class='container' >
        <div> LOGIN</div>
<form>
        <div class="field">
          <div class="fas fa-envelope">
</div>
<div>
<input ng-model="email" type="text" placeholder="Email or Phone" >
        </div>
<div class="field">
          <div class="fas fa-lock">
</div>
<input ng-model= "password" type="password" placeholder="Password">
        </div>
<input type="button" value="LOGIN" ng-click="logindone()">
        <div class="link">
          Not a member?
          <a href="/partials/register.html">Signup now</a>
        </div>
      </div>
    </div>
</form>
</section> -->
<!-- </body>
</html> -->


<!-- ******************************************************* -->
<!DOCTYPE html>
<html>
  <head>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

      <style>
        body {
  margin: 0;
  padding: 0;
  background-image: url(22.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 10px;
  /* background-color:tan; */
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 8px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -50px;
}
      </style>
  </head>
<body>
    <div id="login">
        <!-- <h3 class="text-center text-white pt-5">Login form</h3> -->
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" >
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Email:</label><br>
                                <input ng-model="email" type="email" placeholder="Enter your Email" id="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input ng-model="password" type="password" placeholder="Enter your password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-info btn-md" ng-click="logindone()">LOGIN</button>
                                <!-- <input type="submit" name="submit" class="btn btn-info btn-md" value="submit"> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</body>
  </html>