
<!Doctype html>
<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Include the above in your HEAD tag -->

<style>
    body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.emp-profile{
    /* padding: 3%; */
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
</style>
</head>
<body>
<div class="container emp-profile">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="./pic1.jpg" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                       My Profile Page
                                    </h5>
                                    <!-- <p class="proile-rating">RANKINGS : <span>8/10</span></p> -->

                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab"  aria-selected="true">About</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="profile-edit-btn" name="btnAddMore" ng-click="editprofiledetails(firstname,lastname,email,role,dob)"> Edit Profile </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>WORK LINK <br>
                            Wroking at Invansys<br>
                            Software Engineer<br><br></p>
                    
                            <p>SKILLS
                            Dancer<br>
                            Crafts and Drawing<br/>
                            Cooking<br>
                            C++, JAVA, EXCEL<br/>
                        </div>
                    </div>
                    <div class="col-md-8">
                            <table class="table table-bordred table-striped">
                                    <thread>
                                            <tr>
                                                 <th scope="col">_id</th>
                                                 <th scope="row">{{id}}</th>
                                            </tr>
                                            <tr>
                                                 <th scope="col">Firstname</th>
                                                 <th>{{firstname}}</th>
                                            </tr>
                                            <tr>
                                                 <th scope="col">Lastname</th>
                                                 <th>{{lastname}}</th>
                                            </tr>
                                            <tr>
                                                 <th scope="col">Email</th>
                                                 <th>{{email}}</th>
                                            </tr>
                                         <tr>
                                                 <th scope="col">DOB</th>  
                                                 <th>{{dob}}</th>
                                         </tr>
                                         </thread>
                                         </table>
                                         <!-- <div class="col-md-2">
                                                <button type="submit" class="profile-edit-btn" name="btnAddMore" ng-click="editprofiledetails(firstname,lastname,email,role,dob)"> Edit Profile </button>
                                            </div> -->
                        </div>
                    </div>
                    </form>
                </div>           
 </body>
</html>
        