<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app = "main" >
  <head>
    <!-- <style>
      body{
        background-image: url(main_pic.jpg);
        background-repeat: no-repeat;
        background-size: 100%
      }
      </style> -->
    <meta charset="utf-8">
    <title>Foodie World</title>
    <!-- This is base for any angular path that we are giving -->
    <!-- <base href = '/'> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="./style1.css">
   <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
   

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
    <script src="../app.js"></script>
    <script type="text/javascript" src="./node_modules/angular/angular.js"></script>
    <!-- <link rel="stylesheet" href="./partials/loginstyle.css"> -->

  </head>
  <body> 
    <nav  class= "navbar navbar-header" ng-controller = "mainCtrl">
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">Welcome to Foodie World</label>
      <ul>
<li><a class="" href="#/home">Home</a></li>
<li><a href="#/about">About US</a></li>
<li><a href="#/contact">Contactus</a></li>
<li><a ng-hide='flare' href="#/register">Register</a></li>
<li><a ng-hide='flare' href="#/login">Login</a></li>
<li><a ng-show="flare" ng-click='logout()' href="#/login">Logout</a></li>
</ul>
</nav>

<div ng-view></div>

   
  </body>
</html>